<div class="h-screen w-screen flex-center bg-secondary">
  <form [formGroup]="form" class="w-72 flex-center flex-col mb-20">
    <div class="flex-center flex-col pb-8 w-40">
      <img src="assets/logo.png" alt="Logo" class="h-20" />
      <h1 class="m-0 pt-4 pb-3 w-full font-extralight flex justify-between">
        <span>F</span>
        <span>e</span>
        <span>s</span>
        <span>T</span>
        <span>i</span>
        <span>b</span>
        <span>e</span>
        <span>d</span>
      </h1>
    </div>

    <tui-input
      formControlName="username"
      tuiMode="onDark"
      [tuiTextfieldCleaner]="true"
      class="pb-4 w-full"
    >
      Login
    </tui-input>

    <tui-input-password
      formControlName="password"
      tuiMode="onDark"
      [tuiTextfieldCleaner]="true"
      class="pb-10 w-full"
    >
      Mot de passe
    </tui-input-password>

    <button tuiButton class="m-auto" (click)="submit()">Se connecter</button>

    <br/>

    <button tuiButton type="button" (click)="authService.Auth2()">
      Se connecter avec Facebook
    </button>
  </form>
</div>
