<div class="flex-center pt-1">
  <tui-input
    #searchByCity
    [tuiTextfieldCustomContent]="icon"
    (keyup.enter)="search(searchByCity.value)"
    class="tui-bg-transparent text-gray w-96 pr-7"
  >
    Filtrer par commune

    <ng-template #icon>
      <tui-svg
        src="tuiIconSearch"
        class="bg-primary cursor-pointer rounded-full p-0.5 input-icon"
      ></tui-svg>
    </ng-template>
  </tui-input>
</div>

<mat-grid-list [cols]="breakpoint" cols="3" rowHeight="2:1" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let festival of festivals$ | async">
    <div  class="shadow-lg hover:shadow-2xl w-4/5 h-5/6 rounded-3xl">

      <div class="text-xl font-bold flex-center flex-col ">
        <a [routerLink]="['../festival', festival.ndeg]">
          {{festival.nomManifestation}}
        </a>
      </div>

      <div class="flex-center">
        <a [routerLink]="['../festival', festival.ndeg]">
          <img src="assets/img/téléchargement.jpg" class="max-h-40 max-w-xs">
        </a>
      </div>

      <div class="flex-center">
        {{festival.commune?.nomCommune}}
      </div>

      <div class="absolute inset-x-0 bottom-0 flex-center ajouterPanier">
        <button
          tuiButton
          type="button"
          appearance="primary"
          class="tui-space_right-3 tui-space_bottom-3 "
          [routerLink]="['../listeEtablissement', festival.ndeg]"
        >
          Choisir
        </button>
      </div>

      <div class="absolute bottom-0 right-2 test text-lg font-bold">
        {{festival.prixPass}}
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
