<header class="w-full bg-secondary py-3">
  <div class="flex items-center justify-between">
    <div class="flex-center sm:pl-5">
      <div routerLink="/festival/listeFestival" class="flex-center cursor-pointer">
        <img src="/assets/logo.png"  alt="Logo" class="h-10 pr-2 "/>
      </div>
    </div>

    <div class="flex-center">
      <button tuiButton routerLink="/festival/formFestival" class="mr-8">Ajouter un festival </button>

      <div
        (tuiActiveZoneChange)="shoppingCartDropdownOpened = false"
        [tuiDropdown]="shoppingCartDropdownOpened"
        [tuiDropdownContent]="shoppingCart"
        class="mr-14"
      >
        <div class="circle ml-7 mt-6">
          {{ nbElementPanier }}
        </div>
        <ic-icon
          (click)="shoppingCartDropdownOpened = !shoppingCartDropdownOpened; userDropdownOpened = false"
          icon="shoppingCart"
          class="text-4xl leading-0 cursor-pointer inline-block"
        ></ic-icon>

        <ng-template #shoppingCart>
          <p class="text-lg font-bold flex-center flex-col ">
            Panier
          </p>
          <div class="p-2 flex-center flex-col">
            <button tuiButton (click)="allerAuPanier()">Voir le panier</button>
          </div>
        </ng-template>
      </div>

      <div
        (tuiActiveZoneChange)="toggleDropdown(false)"
        [tuiDropdown]="userDropdownOpened"
        [tuiDropdownContent]="dropdown"
        class="mr-14"
      >
        <ic-icon
          (click)="userDropdownOpened = !userDropdownOpened; shoppingCartDropdownOpened = false"
          icon="user"
          class="text-4xl leading-0 cursor-pointer inline-block"
          #dropdownBtn
        ></ic-icon>
        <ng-template #dropdown>
          <div class="p-2 flex-center flex-col" #dropdownDiv>
            <h3 class="pb-5">{{ username }}</h3>
            <button tuiButton (click)="logout()">Déconnexion</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>

<div [class.opened]="sidebarOpen" class="sidebar">
  <div
    *ngFor="let item of sidebarItems"
    [routerLink]="item.url"
    class="item flex items-center cursor-pointer pb-5"
  >
    <ic-icon
      [icon]="item.icon"
      class="icon leading-0 p-2 border border-solid rounded-full"
    ></ic-icon>
    <div class="text-center flex-grow">
      <span class="uppercase font-bold">{{ item.title }}</span>
    </div>
  </div>
</div>

<div class="pad-sidebar-left">
  <router-outlet></router-outlet>
</div>

