@use 'theme/variables' as vrbl;
@import 'theme/utility';

// UI Elements
@import 'theme/taigaui';
@import 'theme/tailwindcss';
@import 'theme/quilljs';

// Fonts
@import '~@fontsource/lato/300.css';
@import '~@fontsource/lato/index.css';
@import '~@fontsource/raleway/700.css';
@import '~@fontsource/raleway/index.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: vrbl.color(background);
  font-family: vrbl.font(primary);
}
